/* Webfont: Unnamed-Bold */
@font-face {
    font-family: Unnamed;
    src: url('fonts/orchestry.eot'); /* IE9 Compat Modes */
    src: url('fonts/orchestry.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/orchestry.woff') format('woff'), /* Modern Browsers */
         url('fonts/orchestry.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/orchestry.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

.letters {
    display: inline-flex;
    font-size: 64px;
    font-family: Unnamed;
    text-transform: lowercase;
    color: white;
}

.letters:active {
    color: red;
}

/**/

* {
    box-sizing: border-box;
  }
  
  .cat_sheet {
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    text-align: center;
    line-height: 1.4;
    font-size: 20px;
    font-size: 2rem;
  }
  
  
  
  .cat_sheet__note.cat_sheet__note--12:before, .cat_sheet__note.cat_sheet__note--5:before, .cat_sheet__note.cat_sheet__note--3:before {
    content: "";
    border-left: 1px solid #000000;
    height: 1em;
    position: relative;
    left: -0.2em;
    top: -0.05em;
  }
  
  .cat_sheet__note.cat_sheet__note--11:before, .cat_sheet__note.cat_sheet__note--10:before, .cat_sheet__note.cat_sheet__note--9:before, .cat_sheet__note.cat_sheet__note--8:before, .cat_sheet__note.cat_sheet__note--7:before, .cat_sheet__note.cat_sheet__note--6:before, .cat_sheet__note.cat_sheet__note--4:before, .cat_sheet__note.cat_sheet__note--2:before, .cat_sheet__note.cat_sheet__note--1:before {
    content: "";
    border-right: 1px solid #000000;
    height: 1em;
    position: relative;
    left: 0.2em;
    top: -1.05em;
  }
  
  .cat_sheet__note {
    position: absolute;
    height: 0.3em;
    width: 0.4em;
    background-color: #000000;
    border-radius: 0.4em / 0.3em;
  }
  .cat_sheet--animate .cat_sheet__note {
    opacity: 0;
    -o-animation-name: cat_fade-in;
    -moz-animation-name: cat_fade-in;
    -webkit-animation-name: cat_fade-in;
    animation-name: cat_fade-in;
    -o-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -o-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -o-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  .cat_sheet__note.cat_sheet__note--1 {
    left: 1em;
    top: 0.65em;
    -o-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  .cat_sheet__note.cat_sheet__note--1:after {
    content: "";
    display: block;
    position: relative;
    border-top: 3px solid #000000;
    width: 1.15em;
    top: -2.6em;
    left: 0.33em;
    -moz-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  .cat_sheet__note.cat_sheet__note--2 {
    left: 2em;
    top: 0.18em;
    -o-animation-delay: 1250ms;
    -moz-animation-delay: 1250ms;
    -webkit-animation-delay: 1250ms;
    animation-delay: 1250ms;
  }
  .cat_sheet__note.cat_sheet__note--3 {
    left: 3em;
    top: 0.18em;
    -o-animation-delay: 1500ms;
    -moz-animation-delay: 1500ms;
    -webkit-animation-delay: 1500ms;
    animation-delay: 1500ms;
  }
  .cat_sheet__note.cat_sheet__note--4 {
    left: 5em;
    top: 0.33em;
    -o-animation-delay: 2000ms;
    -moz-animation-delay: 2000ms;
    -webkit-animation-delay: 2000ms;
    animation-delay: 2000ms;
  }
  .cat_sheet__note.cat_sheet__note--5 {
    left: 7em;
    top: 0.18em;
    -o-animation-delay: 2500ms;
    -moz-animation-delay: 2500ms;
    -webkit-animation-delay: 2500ms;
    animation-delay: 2500ms;
  }
  .cat_sheet__note.cat_sheet__note--6 {
    left: 9em;
    top: 0.5em;
    -o-animation-delay: 3000ms;
    -moz-animation-delay: 3000ms;
    -webkit-animation-delay: 3000ms;
    animation-delay: 3000ms;
  }
  .cat_sheet__note.cat_sheet__note--7 {
    left: 11em;
    top: 0.5em;
    -o-animation-delay: 3500ms;
    -moz-animation-delay: 3500ms;
    -webkit-animation-delay: 3500ms;
    animation-delay: 3500ms;
  }
  .cat_sheet__note.cat_sheet__note--8 {
    left: 13em;
    top: 0.65em;
    -o-animation-delay: 4000ms;
    -moz-animation-delay: 4000ms;
    -webkit-animation-delay: 4000ms;
    animation-delay: 4000ms;
  }
  .cat_sheet__note.cat_sheet__note--9 {
    left: 15em;
    top: 0.33em;
    -o-animation-delay: 4500ms;
    -moz-animation-delay: 4500ms;
    -webkit-animation-delay: 4500ms;
    animation-delay: 4500ms;
  }
  .cat_sheet__note.cat_sheet__note--10 {
    left: 17em;
    top: 0.65em;
    -o-animation-delay: 5000ms;
    -moz-animation-delay: 5000ms;
    -webkit-animation-delay: 5000ms;
    animation-delay: 5000ms;
  }
  .cat_sheet__note.cat_sheet__note--11 {
    left: 19em;
    top: 0.33em;
    -o-animation-delay: 5500ms;
    -moz-animation-delay: 5500ms;
    -webkit-animation-delay: 5500ms;
    animation-delay: 5500ms;
  }
  .cat_sheet__note.cat_sheet__note--12 {
    left: 21em;
    top: 0.13em;
    background-color: transparent;
    border: 1px solid #000000;
    box-sizing: content-box;
    -o-animation-delay: 6000ms;
    -moz-animation-delay: 6000ms;
    -webkit-animation-delay: 6000ms;
    animation-delay: 6000ms;
  }
  .cat_sheet__note.cat_sheet__note--12:before {
    left: -0.23em;
  }
  
  @-webkit-keyframes cat_fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes cat_fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-ms-keyframes cat_fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes cat_fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }